#python-dotenv
# Can be imported as module dotenv.
# python-dotenv should not be at requirements file if running on Heroku, but
# **should** be in case the program is running locally
# (to be able to load data from *.env).
Telethon
requests
configparser
datetime