#python-dotenv
# Can be imported as module dotenv.
# python-dotenv should not be at requirements file if running on Heroku, but
# **should** be in case the program is running locally
# (to be able to load data from *.env).
aiogram~=2.14
# At v3: Breaking changes had been introduced there.
# Use of aiogram version 3 may cause errors.
requests
configparser
datetime